@{
    ViewData["Title"] = "Home Page";
}
<form method="post" action="/Home/UploadIMG" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="text" name="fullName" />     
    <input type="submit" value="GO"/>
</form>
